
.beginning {
    width: 1190px;
    height: 300px;
    border-radius: 30px;
    justify-content: center;
    margin-top: 0px;
    border: 5px solid green;
    position: relative;
    z-index: 1;
}
h1 {
    color: blue;
    font-style: italic;
    padding-top: 5px;
    justify-content: center;
    text-align: center;
}
#star {
    width: 300px;
    height: 300px;
    border: 5px solid green;
    margin-left: 10px;
    border-radius: 130px;
}

.d-flex {
    display:flex;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: center;
    justify-content:space-between;
    justify-content: space-evenly;
    margin-right: 50;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.butao {
    height: 70px;
    width: 800px;
    margin-left: 30px;
    background-color: green;
    margin-top: 20px;
    border-radius: 20px;
}
p {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 10px;
    color: blue;
    font-style: italic;
    border-bottom: 0;
    border-top: 0;
}
.butao {
    text-align: center;
}
.butao-1 {
    background-image: linear-gradient(to right rgb(118, 146, 118) 0%, rgb(32, 138, 32) 51%, #008000 99%);
}
.butao:hover {
    background-color: gold;
    color: green;
    text-transform: uppercase;
}
#fancy {
    font-size: 45px;
    color: gold;
}
#fancy:hover {
    color: green;
}
span {
    color: gold;
}
.topo {
    margin-left: 10px;

    text-align: center;
}
.serious {
    background-color: green;
    width: 70px;
    height: 50px;
    color: gold;
    margin-left: 30px;
    padding-bottom: 5px;
}
.serious:hover {
    background-color: gold;
    color: green;
}
#find {
    
    font-size: medium;
    column-gap: 30px;
    justify-content: center;
    
    
}
#good {
    text-align: left;
    font-size: 20px;
    color: green;
}

.fine {
    text-decoration: underline gold;
    width: 400px;
    
    
}
.fine:hover {
    
    cursor: pointer;
    background-color: purple;
    text-transform: uppercase;
}
.imp {
    height: 40px;
    width: 400px;
    background-color:transparent;
    border: 0px;
    border-bottom: 2px solid aqua;
    
}
.imp:focus {
    border-color: brown;
    
}
#tant {
    height: 100px;
    width: 500px;
    margin-left:430px;
    border: 2px solid aqua;
    color: green;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    padding-bottom: 98px;
    padding-top: 0px; 
    
}
.box2 {
    width: 400px;
    height: 160px;
    position: absolute;
    top: 145px;
    left: 680px;
    z-index: 2;

}
rect {
    width: 1180px;
    height: 70px;
    background-color: aqua;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 90px !important;
    padding-left: 30px;
}
h3 {
    margin-left: 100px;
    
    justify-content: space-between;
    padding-top: 15px;
    justify-content: space-around;
    display:flex;
    
}
.AtLast {
    background-color:green;
    color: gold;
    width: 200px;
    
}
.AtLast:hover {
    background-color: purple;
    
}
.circle {
    width: 100px;
    height: 100px;
    justify-content: center;
    background-color: gold;
    border-radius: 60%;
    align-items: center;
    display:flex;
    
    
}
.inner {
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    justify-content: center;
}
section3 {
    justify-content:center;
    margin-left: 10px;
    margin-right: 20px;
}
h4 {
    color: blue;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    
}
section4{
    justify-content: center;
    margin-right: 40px;
    margin-left: 40px;
}

    
    

.box {
    width: 250px;
    height: 150px;
    background-color: aqua;
    padding-top: 20px;
}
h5 {
    color: brown;
    text-align: center;
    padding-top: 10px;
}

#end {
    background-color: green;
    color:brown;
    width: 250px;
    height: 50px;
    margin-left: 500px;
    font-size: 30px !important;
    border-radius: 20px;
}
#end:hover {
    background-color: gold;
    text-transform: uppercase;
}

h6 {
    margin-left: 500px;
    color: brown;
}
.lonely {
    background-color: green;
    color: gold;
}
.lonely:hover {
    background-color: gold;
    text-transform: uppercase;
    color: green;
}

    
    
    
    
    
    

.column {
    flex: 50%;
}
.height {
    line-height: 0.4cm;
}

#fixing {
    text-decoration: underline;
}
#fixing:hover {
    cursor: pointer;
    background-color: gold;
    text-transform: uppercase;
    width: 300px;
    margin-left: 400px;
}
.container {
    text-align: center;
    align-items: center;
    justify-content: center;
}

