.beginning {
    width: 1190px;
    height: 300px;
    border-radius: 30px;
    justify-content: center;
    margin-top: 0px;
    border: 5px solid green;
    position: relative;
    z-index: 1;
}
h1 {
    color: blue;
    font-style: italic;
    padding-top: 5px;
    justify-content: center;
}
#star {
    width: 300px;
    height: 300px;
    border: 5px solid green;
    margin-left: 10px;
    border-radius: 130px;
}

.d-flex {
    display:flex;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: center;
    justify-content:space-between;
    margin-right: 50;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.butao {
    height: 70px;
    width: 800px;
    margin-left: 30px;
    background-color: green;
    margin-top: 20px;
    border-radius: 20px;
}
p {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 10px;
    color: blue;
    font-style: italic;
}
.butao {
    text-align: center;
}
.butao-1 {
    background-image: linear-gradient(to right rgb(118, 146, 118) 0%, rgb(32, 138, 32) 51%, #008000 99%);
}
.butao:hover {
    background-color: gold;
    color: green;
    text-transform: uppercase;
}
.fancy {
    font-size: 45px;
    color: gold;
}
.fancy:hover {
    color: green;
}
span {
    color: gold;
}
.topo {
    margin-left: 10px;

    text-align: center;
}
.serious {
    background-color: green;
    width: 70px;
    height: 50px;
    color: gold;
    margin-left: 30px;
    padding-bottom: 5px;
}
.serious:hover {
    background-color: gold;
    color: green;
}
#find {
    display: flex;
    font-size: medium;
    column-gap: 300px;
    justify-content: center;
    
    
}
.good {
    
    font-size: 30px !important;
    color: green !important;
}

.fine {
    text-decoration: underline gold;
    
    width: 400px;
    
    
}
.fine:hover {
    border-bottom: brown;
    cursor: pointer;
    background-color: purple;
    text-transform: uppercase;
}
.imp {
    height: 40px;
    width: 400px;
    background-color: lightgray;
    justify-content: center;
    text-align: center;
    border-bottom: 60px;
}
.tant {
    height: 100px;
}
.box2 {
    width: 400px;
    height: 160px;
    position: absolute;
    top: 145px;
    left: 680px;
    z-index: 2;

}
rect {
    width: 1180px;
    height: 70px;
    background-color: aqua;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 90px !important;
    padding-left: 30px;
}
h3 {
    margin-left: 100px;
    
    justify-content: space-between;
    padding-top: 15px;
    justify-content: space-around;
    display:flex;
    
}
.AtLast {
    background-color:green;
    color: gold;
    width: 200px;
    
}
.AtLast:hover {
    background-color: purple;
    
}
.circle {
    width: 50px;
    height: 50px;
    justify-content: center;
    background-color: gold;
    border-radius: 60%;
    align-items: center;
}
.inner {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    justify-content: center;
}
section3 {
    justify-content:center;
    margin-left: 30px;
    margin-right: 30px;
}
h4 {
    color: blue;
    justify-content: center;
    
}
section4{
    justify-content: center;
    margin-right: 40px;
    margin-left: 40px;
}
.centralize {
    text-align: center;
    margin-left: 400px;
}
.box {
    width: 300px;
    height: 150px;
    background-color: aqua;
    padding-top: 20px;
}
h5 {
    color: brown;
    text-align: center;
    padding-top: 10px;
}
#end {
    background-color: green;
    color:brown;
    width: 250px;
    height: 50px;
    margin-left: 500px;
    font-size: 30px !important;
    border-radius: 20px;
}
#end:hover {
    background-color: gold;
    text-transform: uppercase;
}

h6 {
    margin-left: 500px;
    color: brown;
}
.lonely {
    background-color: green;
    color: gold;
}
.lonely:hover {
    background-color: gold;
    text-transform: uppercase;
    color: green;
}

